This is a hands on tutorial for python (3). This tutorial designed for beginners with examples of basic and most frequently used python practices.

**What is Programming?**

Programming is a way to “instruct the computer to perform various tasks”.


**What is Programming Language?**

A programming language provides a way for a programmer to express a task so that it could be understood and executed by a computer.

Ex: Python, C, C++, Java, etc.

**Introduction to python**

Python is an interpreted, interactive, object-oriented, high-level programming language. 

It was created by Guido van Rossum during 1985- 1990

**Why to Learn Python**

- Easy to understand and program
- Easy to maintain
- Standard libraries and frameworks
- Versatility
- Large community
- High demand

The official and detailed documentation to python (3) is found here <a href="docs.python.org/3/">Documentation</a>

**What is colab?**

Colabaratory, simply colab, and *google colab* after hosted by google

Cloud-based interactive development environment that allows you to write, execute, and share Python code in a web browser

Can save the notebooks to Google drive.

Free access to computing resources such as CPU(Central Processing Unit) , GPU(Graphics Processing Unit), and TPU(Tensor Processing Unit) for running code

Can upload and download data to colab from our local systems and also can mount the google drive account as a file system.

Pre-installed python libraries and tools

sign in: https://colab.research.google.com

overview: https://colab.research.google.com/notebooks/basic_features_overview.ipynb#scrollTo=Id6tDF1HQSHD

**More about colab**

Colab has two types of cells: text and code. 

Text cells are formatted using a simple **markup language** called Markdown

markdown guide: https://colab.research.google.com/notebooks/markdown_guide.ipynb

# **LET'S GET STARTED**

##**Python Version**

In [ ]:
!python --version  #command to check python version

Python 3.9.16

##**Print Function**

In [ ]:
print("hello world")  # built-in function that is used to display output

hello world

In [ ]:
name = input("What is your name?")
print("Welcome", name)

What is your name?rabina
Welcome rabina

In [ ]:
 # Different way to print a message
 name = "Rabina"
 country="Nepal"
 print("Welcome", name, "from", country, '!') # multiple arguments, separated by commas, Each argument is printed to the console with a space between them
 print(f"Welcome {name} from {country}!") #using f-string, variables are embeded directly into a string using {},  more concise and readable way
 print(("Welcome "+name+ " from "+ country+ '!'))  # string concatenation using '+' operator
 print("Welcome {} from {}!".format(name,country)) # using placholders
 print("Welcome {0} from {1}!".format(name,country)) # using placholders with argument indexing
 print("Welcome {1} from {0}!".format(name,country))

Welcome Rabina from Nepal !
Welcome Rabina from Nepal!
Welcome Rabina from Nepal!
Welcome Rabina from Nepal!
Welcome Rabina from Nepal!
Welcome Nepal from Rabina!

##**Comments**
 
Comment is a text that are ignored during the execution  and used to explain the code or provide additional information to the programmer.

**Two ways to write comments in Python**
1. Single-line comments
2. Multi-line comments

In [ ]:
 
# This is a single line comment 
# This is also a single line comment

'''
This is a multi-line comments
This spans multiple lines.
It is enclosed in triple quotes.
'''

print("Above comments won't display in the system output")

Above comments won't display in the system output

##**Indentation**
Indentation refers to the spaces at the beginning of a code line

It is used to indicate blocks of code. 

It is an important aspect of the language's syntax and is used to define the scope of control statements, functions, loops, and classes.

The Python language uses whitespace to define block boundaries, which means that code within the same block must be indented to the same level

##**Identifiers**

Identifier is a name given to a variable, function, class, module, or other object in a program.

In Python, identifiers must follow following rules:

Rule 1:They can only contain letters(A-Z, a-z), digits(0 to 9), and underscores (_).

Rule 2: They cannot start with a digit.

Rule 3: They are case sensitive

Rule 4: They cannot be a reserved keyword, such as "if", "else", "while", etc.

Rule 4: You can not use special character such as  ‘.’, ‘!’, ‘@’, ‘#’, ‘$’, ‘%’ etc.

Rule 6: The identifier can be of any length.

In [ ]:
a = "sriram"
A = 2

print(a, A)

sriram 2

##**Keywords**

Keywords are pre-defined and reserved words that have special meaning.

Keywords help in defining the syntax. 

They cannot used as identifier, variable,constants, function or any other names.

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

##**Variables**

A variable is a name given to a memory location. It is the basic unit of storage in a program.

When you created a variable, you reserve some memory space

A variable is created (if not created earlier in the program) the moment we first assign a value to it. 

Variables can hold different types of data such as integers, floating-point numbers, strings, and objects.

The value stored in a variable can be changed during program execution.

Variables in python are case-sensitive.

Variables do not need explicit declaration

# **DATA TYPES**

Data can be any kind information that can be formated and provided in system readable way.

The basic data types in python are, numbers (integer and float), booleans (True and Flase), containers (lists, dictionaries, sets, and tuples)

##**Numbers**

Used to store numeric data

Three types of numeric data: int,long, float,complex

In [ ]:
x = 3 # x is an integer now
print(x, type(x))


y = 4.5 # y is a float
print(y, type(y))

##**Booleans**

In [ ]:
a = True
b = False

print(a, type(a))
print(b, type(b))

True <class 'bool'>
False <class 'bool'>

##**Strings**

Used to store sequence of characters.

Enclosed in either single quotes ('...') or double quotes ("...")

In [ ]:
# ''
# ""

firstname = 'Jaqen' # a-z, A-Z, 0-9, and @#$$%^&*.
print(type(firstname), firstname)

secondname = 'Hgar'
print(type(secondname), secondname)

print("doesn't")  #'doesn\'t'

<class 'str'> Jaqen
<class 'str'> Hgar
doesn't

In [ ]:
#string concatenation
fullname = firstname+' '+secondname
print(fullname, len(fullname), type(fullname))

print('<' + 'word '*5 + '>')
print('Rabina''Twayana')  #automatically concatenated

#What is the last index of fullname?

Jaqen Hgar 10 <class 'str'>
<word word word word word >
RabinaTwayana

**String slicing** (sub-string)

syntax string: [start_index:end_index:step]

start_index: index of the first character to be included

end_index: index of the first character to be excluded

step is an optional argument that specifies the increment between the characters

In [ ]:
x = "UNIVERSIRY"

print(x)
print(x[0])
print(x[0:len(x):2])
print(x[:len(x)])

UNIVERSIRY
U
UIESR
UNIVERSIRY

In [ ]:
#negative indices
x = "negative"

x[4:1:-1]  #slice is taken in reverse order

'tag'

In [ ]:
#Strings are immutable
word="HelpA"
#word[4]="B" #not valid
word2=word[:len(word)-1]+"B" #slices can help
print(word2)

5
HelpB

In [ ]:
#string methods
myCourse ="Python Programming"
i_count=myCourse.count("m") # count occurrences
print(i_count,"icount")

print(myCourse.find("pro")) # returns first index

print(myCourse.replace("programming","course"))

print(myCourse.upper())

print(myCourse.lower())
print(myCourse.title())

print(myCourse.swapcase())
print(myCourse.startswith('Py'))
print(myCourse.endswith('ing'))

2 icount
-1
Python Programming
PYTHON PROGRAMMING
python programming
Python Programming
pYTHON pROGRAMMING
True
True

##**Type casting** (converting data type)

Changing the data type of a variable from one type to another

In [ ]:
a = 1

a = float(a) # Converts a string or integer to a float.

print(a, type(a))

b = int(45.011) #Converts a string or float to an integer and result in data loss
print(b, type(b))

c=str(50)
print(c, type(c))

1.0 <class 'float'>
45 <class 'int'>
50 <class 'str'>

#**OPERATORS**

Operators are used to perform operations on variables and values.
Python divides the operators in the following groups:

<ul>
<li>Arithmetic operators</li>
<li>Assignment operators</li>
<li>Comparison operators</li>
<li>Logical operators</li>
<li>Identity operators</li>
<li>Membership operators</li>
<li>Bitwise operators</li>
</ul>

##**Arithmetic operators**

Perform mathematical operations on numerical values


<table class="ws-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Name</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>+</td>
<td>Addition</td>
<td>x + y</td>
</tr>
<tr>
<td>-</td>
<td>Subtraction</td>
<td>x - y</td>
</tr>
<tr>
<td>*</td>
<td>Multiplication</td>
<td>x * y</td>
</tr>
<tr>
<td>/</td>
<td>Division</td>
<td>x / y</td>
</tr>
<tr>
<td>%</td>
<td>Modulus</td>
<td>x % y</td>
</tr>
  <tr>
<td>**</td>
<td>Exponentiation</td>
<td>x ** y</td>
  </tr>
<tr>
<td>//</td>
<td>Floor division</td>
<td>x // y</td>
</tr>
</tbody></table>

In [ ]:
a = -21
b = 10  #10.00 -10  implicit or automatic conversion of a value from one data type to another data type 

# Addition
print ("a + b : ", a + b)

# Subtraction
print ("a - b : ", a - b)

# Multiplication
print ("a * b : ", a * b)

# Division
print ("a / b : ", a / b)

# Modulus : returns the remainder (in case if negative )
print ("a % b : ", -21 % 10)

# Exponentiation
print ("a ** b : ", a ** b)

# Floor Division: returns the quotient rounded down to the nearest integer
print ("a // b : ", a // b)

a + b :  -11
a - b :  -31
a * b :  -210
a / b :  -2.1
a % b :  9
a ** b :  16679880978201
a // b :  -3

##**Assignment operators(=)**

Assign a value to a variable

variable= expression

Eg: addition assignment, bitwise AND, shift operator  etc

<table class="ws-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:20%">Example</th>
<th style="width:20%">Same As</th>
</tr>
<tr>
<td>=</td>
<td>x = 5</td>
<td>x = 5</td>
</tr>
  <tr>
<td>+=</td>
<td>x += 3</td>
<td>x = x + 3</td>
  </tr>
  <tr>
<td>-=</td>
<td>x -= 3</td>
<td>x = x - 3</td>
  </tr>
  <tr>
<td>*=</td>
<td>x *= 3</td>
<td>x = x * 3</td>
  </tr>
  <tr>
<td>/=</td>
<td>x /= 3</td>
<td>x = x / 3</td>
  </tr>
  <tr>
<td>%=</td>
<td>x %= 3</td>
<td>x = x % 3</td>
  </tr>
  <tr>
<td>//=</td>
<td>x //= 3</td>
<td>x = x // 3</td>
  </tr>
  <tr>
<td>**=</td>
<td>x **= 3</td>
<td>x = x ** 3</td>
  </tr>
  <tr>
<td>&amp;=</td>
<td>x &amp;= 3</td>
<td>x = x &amp; 3</td>
  </tr>
  <tr>
<td>|=</td>
<td>x |= 3</td>
<td>x = x | 3</td>
  </tr>
<tr>
<td>^=</td>
<td>x ^= 3</td>
<td>x = x ^ 3</td>
</tr>
</tbody></table>

In [ ]:
x = 5

x += 2

print(x)

7

##**Comparison Operators**

Comparision of the values and result is boolean

<table class="ws-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Name</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>==</td>
<td>Equal</td>
<td>x == y</td>
</tr>
<tr>
<td>!=</td>
<td>Not equal</td>
<td>x != y</td>
</tr>
<tr>
<td>&gt;</td>
<td>Greater than</td>
<td>x &gt; y</td>
</tr>
<tr>
<td>&lt;</td>
<td>Less than</td>
<td>x &lt; y</td>
</tr>
  <tr>
<td>&gt;=</td>
<td>Greater than or equal to</td>
<td>x &gt;= y</td>
  </tr>
<tr>
<td>&lt;=</td>
<td>Less than or equal to</td>
<td>x &lt;= y</td>
</tr>
</tbody></table>

In [ ]:
# Try comparision operators
a = 4
c=4
b = a<3

print(b)

False

##**Logical operators**

Combines multiple Boolean expressions and evaluate them as a single boolean result

<table class="ws-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>and&nbsp;</td>
<td>Returns True if both statements are true</td>
<td>x &lt; 5 and&nbsp; x &lt; 10</td>
</tr>
<tr>
<td>or</td>
<td>Returns True if one of the statements is true</td>
<td>x &lt; 5 or x &lt; 4</td>
</tr>
<tr>
<td>not</td>
<td>Reverse the result, returns False if the result is true</td>
<td>not(x &lt; 5 and x &lt; 10)</td>
</tr>
</tbody></table>

In [ ]:
x = 5

print (not(x%2==1 and x > 2))

False

In [ ]:
# we can build logic gates using boolean variables
a = True
b = False

print(a and b)  # False
print(a or b) # True
print(not b) # False
# print(a == b) # False
# print(a != b) # True

False
True
True

##**Identity Operators**

Compares the memory location of two objects.

<table class="ws-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>is&nbsp;</td>
<td>Returns True if both variables points to the same object in memory</td>
<td>x is y</td>
</tr>
<tr>
<td>is not</td>
<td>Returns True if both variables do not point to the same object in memory</td>
<td>x is not y</td>
</tr>
</tbody></table>

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print(x is y)       # Output: False
print(x is z)       # Output: True
print(x is not y)   # Output: True
print(x is not z)   # Output: False

False
True
True
False

##**Bitwise Operators**

Work on bits and performs bit by bit operation

Each operand(decimal values) is converted into its binary representation, then  bits are compared and combined based on the operator used

<table class="ws-table-all notranslate">
<tbody><tr>
<th style="width:10%">Operator</th>
<th style="width:15%">Name</th>
<th style="width:75%">Description</th>
</tr>
  <tr>
<td>&amp;&nbsp;</td>
<td>AND</td>
<td>Sets each bit to 1 if both bits are 1</td>
  </tr>
  <tr>
<td>|</td>
<td>OR</td>
<td>Sets each bit to 1 if one of two bits is 1</td>
  </tr>
  <tr>
<td>&nbsp;^</td>
<td>XOR</td>
<td>Sets each bit to 1 if only one of two bits is 1</td>
  </tr>
<tr>
<td>~&nbsp;</td>
<td>NOT</td>
<td>Inverts all the bits</td>
</tr>
<!-- <tr>
<td>&lt;&lt;</td>
<td>Zero fill left shift</td>
<td>Shift left by pushing zeros in from the right and let the leftmost bits fall 
off</td>
</tr>
<tr>
<td>&gt;&gt;</td>
<td>Signed right shift</td>
<td>Shift right by pushing copies of the leftmost bit in from the left, and let 
the rightmost bits fall off</td>
</tr> -->
</tbody></table>

In [ ]:


#10 >> 0000 1010
#-10>> 1111 0101 +1 = 1111 0110 #to calculate bin value -of negative number

a = 10 # 1010  
b = 9  # 1001

c = a & b #1000
print(c)

d = a | b # 1011
print(d)

e = a ^ b # 0011
print(e)

f = ~a # 11110101
print(f)

x = 10  # 0000 1010 
y = -10 # 1111 0110

# numbers

#print(bin(10))
#print(bin(-10 & 0xf))
# print(10 and -10)
# print(9 & -9)

8
11
3
-11

In [ ]:
#string formatting for binary representation
a = 10
print("{0:b}".format(a))

1010
-1011

In [ ]:
a = 123
print(bin(10))
print(bin(~10))

0b1010
-0b1011

##**Membership operators**

Test for the membership in a sequence such as string, list or tuples

<table class="ws-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>in&nbsp;</td>
<td>Returns True if it finds specified value in a given sequence </td>
<td>x in y</td>
</tr>
<tr>
<td>not in</td>
<td>Returns True if specified value not present in a given sequence</td>
<td>x not in y</td>
</tr>
</tbody></table>

In [ ]:
a = [1,2]
1 not in a

False

#**EXERCISE**

**Exercise 1**

Write code to evaluate a equation : 2X^5 + 5X^4 + 4*X^2 + 14 at X = 15

**Exercise 2**

Create a simple code to input 3 strings and return string that concatenating those 3 inputs

**Exercise 3**

Create a simple code to input 2 values and return summation of those 2 values

**Exercise 4**

Create a simple code to input a radius of a circle and return the area and circumference of that circle

**Exercise 5**

Create a simple code to convert 24 hour clock to 12 hour clock. (No need to print AM, PM, just print hour in 12 hour clock)

Example: input 16 output 4

#**CONTAINERS**

*   Lists
*   Sets
*   Dictionaries
*   Tuples

##**Lists**

Lists are used to store colletion of items in a single variable.

Lists are created by enclosing a comma-separated sequence of items square brackets.

Lists are **mutable** and most versatile datatype

In [ ]:
data_list=[]
data_list2=list()
a = [1, 2, 3.0, 'apple']

print(a, len(a), type(a))

TypeError: ignored

In [ ]:
a = [1, 1.0, 2, 0]
#indexing in list
print(a[0])
print(a[-1])
print(a[0:])

#updating values in list
a[0]=a[0]+1
print(a)

1
0
[1, 1.0, 2, 0]
[2, 1.0, 2, 0]

In [ ]:
a = [1, 1.0, 2, 0]

#built-in list methods 
a.sort()
a.reverse() #reverse the elements of list

a.append("ad")  # add an item to the end of list

a.remove(1)  # remove the first item from the list which matches the value

a.pop()
b=a.pop() #removes and returns the last element in the list
c=a.pop(0) # removes first element 

a.extend([3,4]) #extend the list by appending all the items in the given list

total_items=a.count(1) # return the number of times value appears in list

max_value=max(a)

print(max_value)

4

##**Tuples**

Tuples are used to store multiple items in a single variable. 

A tuple is a collection which is **ordered** and **immutable**. 

Tuples are created by enclosing a comma-separated sequence of items in parentheses ((...)).

It can be thought as read-only list

In [ ]:
t = (1,2,3.1,'abc')
print(t, type(t))

(1, 2, 3.1, 'abc') <class 'tuple'>

In [ ]:
# tuples allow duplicates
t = (1,2,'a',1)
print(t, type(t))

(1, 2, 'a', 1) <class 'tuple'>

In [ ]:
a = (1,2,3) #tuples allow indexing 
print(a[0:]) #allow slicing

(1, 2, 3)

In [ ]:
a = (1,2) #tuples are immutable
a.append(12)
a[0]=11

AttributeError: ignored

##**Sets**

Sets are used to store collection of unique items in a single variable. 

A set is a collection which is **unordered**, **unchangeable**, and **unindexed**.

Sets are created by enclosing a comma-separated sequence of items in curly braces ({...}).

In [ ]:
a = set()
print(a, type(a))

set() <class 'set'>

In [ ]:
a = {1,4,2,3,3}  #removes any duplicate elements and orders the remaining elements in an arbitrary order
print(a)

a.add(5) # add only if it is not present in set
print(a, type(a), len(a))

a.remove(3)
print(a)

{1, 2, 3, 4}
{1, 2, 3, 4, 5} <class 'set'> 5
{1, 2, 4, 5}

In [ ]:
# Task:
# create a list or set called 'fruits'
# check if 'banana' is in fruits

# print(fruits)
# print('dragon' in fruits)

##**Dictionaries**

Dictionaries are used to store data in key:value pairs. 

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are created by enclosing a comma-separated sequence of key-value pairs in curly braces ({key1: value1, key2: value2, ...}).

In [ ]:
info={}
b = {1: "rabina", 3: "prakash", 2: "others"}
print(b, type(b))
print(type(info))

{1: 'rabina', 3: 'prakash', 2: 'others'} <class 'dict'>
<class 'dict'>

In [ ]:
b[4] = "new"
b

In [ ]:
d = {'1': '1233',
     'Title': 'Mr.',
     'age': 25,
     'name': 'jaqen'
     }

print(d.get('mobile','NA'))

NA

In [ ]:
d['mobile'] = '123456789'  # dictionaries use a key to store value
print(d.get('mobile', 'N/A'))

123456789

In [ ]:
del d['mobile'] #removing an item
print(d)
del d #delete dictionary

{'1': '1233', 'Title': 'Mr.', 'age': 25, 'name': 'jaqen'}

In [ ]:
#Dictionary Methods

print(d.keys()) # returns a list of keys
print(d.values())
print(d.items())  #returns the key:value pairs as a list of tuples: [(key, value),(key, value), ...]

dict_keys(['1', 'Title', 'age', 'name', 'mobile'])
dict_values(['1233', 'Mr.', 25, 'jaqen', '123456789'])
dict_items([('1', '1233'), ('Title', 'Mr.'), ('age', 25), ('name', 'jaqen'), ('mobile', '123456789')])
1
Title
age
name
mobile

In [ ]:
#Summary
list = [1,2,'sriram', 8, 9, 8]
print(list, type(list))

set = {1,2,'sriram', 8, 9, 8}
print(set, type(set))

tuple = (1,2,'sriram', 8, 9, 8)
print(tuple, type(tuple))

dict = {"a":1, "b":2}
print(dict, type(dict))

[1, 2, 'sriram', 8, 9, 8] <class 'list'>
{1, 2, 8, 9, 'sriram'} <class 'set'>
(1, 2, 'sriram', 8, 9, 8) <class 'tuple'>
{'a': 1, 'b': 2} <class 'dict'>

# **Control flow**

Statements are executed or skipped under certain conditions 

*   'if' statements 
*   'while' loops
*   'for' loop

In [ ]:
#'if' statemnet is used to execute a block of code if a certain condition is true
if 0==0:
  print("this is zero")

this is zero

In [ ]:
a = 17
if a%2 == 0:
  print("Divisible by 2")
elif a%3 == 0:
  print("Divisible by 3")
else:
  print("Not divisibe by 2 or 3")

Not divisibe by 2 or 3

In [ ]:
x=30
y=30

if y > x:
  print("y is greater than x")
elif y < x:
  print("x is greater than y")
else:
  print(" x and y are equal")

 x and y are equal

In [ ]:
# while loop is used to execute a block of code as long as a condition is true

# syntax:

# while (condition):
#     statement

x = 1
while x < 10:
  print(x)
  x += 1   #x=x+1
else:
  print("finished")
  print(x)

print("done")

1
2
3
4
5
6
7
8
9
finished
10
done

In [ ]:
#Loop controls statements
#break: Terminates the loop statement 
#continue: skip the remainder of its body and immediately retest its condition prior to reiterating
#pass:if you do not want any command or code to execute

a = 1
while a <= 10:
  print(a,"before")
  a=a+1
  if a == 7:
    break  
  if a == 5:
    continue
  print(a,"after")
  # else:
  #   a+=1
  #   print(a)

1 before
2 after
2 before
3 after
3 before
4 after
4 before
5 before
6 after
6 before

In [ ]:
#multiplication table using while loop
a = 2
b = 1

while b <= 10:
  # print("iteration no:", b)
  print(a, '*', b, '=', a*b)
  b += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
# A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
# fruits = ['apple', 'banana', 'pineapple']
# fruits = ('apple', 'banana', 'pineapple')
fruits = {'apple', 'banana', 'pineapple',"apple"}

for fruit in fruits:
  print(fruit)
  # if fruit == 'banana':
  #   # pass
  #   # break
  #   continue
  #   # print(fruit)
  # else:
  #   print(fruit)

apple
banana
pineapple

In [ ]:
fruits_dict = {1:"apple", 2:"banana", 3:"mango"}
# for key in fruits_dict.keys():
#   print(key)
# for value in fruits_dict.values():
#   print(value)
for fruit in fruits_dict.items():
  print(fruit)
  print(fruit[0],fruit[1])

(1, 'apple')
1 apple
(2, 'banana')
2 banana
(3, 'mango')
3 mango

In [ ]:
for letter in "UNIVERSITY":
  print(letter)

U
N
I
V
E
R
S
I
T
Y

In [ ]:
a=[]
for i in range(1,20,2):  #(range(start index,stop index,step))
  a.append(i)
print("a:",a)

# b = [i*2 for i in range(10)] #list comprehension
# print("b:", b)

a: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# **Functions**

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [ ]:
def num(a=2,b=2):  #'def' keyword and 'return' statement
  # a = 1
  val = a*b
  return val

output=num()
print(output)

4

In [ ]:
def check_odd_even(a):
  if a%2 == 0:
    return "Even"
  else:
    return "Odd"

In [ ]:
print(check_odd_even(10))

Even

In [ ]:
b = check_odd_even(3)
print(b)

Odd

In [ ]:
def addition(first, second):
  return first+second

In [ ]:
print(addition(3,4))

7

In [ ]:
print(addition('python', 'course'))

pythoncourse

In [ ]:
def even_data_filter(data_list):
  result = []
  for data in data_list:
    if data%2 == 0:
      result.append(data)
  return result

In [ ]:
a = [1,2,3,4,5]

result_data=even_data_filter(a)
print(result_data)

[2, 4]

In [ ]:
def max_of_3(a,b,c):
  if a>=b and a>=c:
    max = a
  elif b>=a and b>=c:
    max = b
  else:
    max=c
  return max

In [ ]:
max_value=max_of_3(7,7,3)
print(max_value)

7

In [ ]:
# Ex: Create a simple code to convert 24 hour clock to 12 hour clock. (No need to print AM, PM, just print hour in 12 hour clock)

# Example: input 16 output 4


def convert_clock(hours):
  if hours <= 12:
    print(hours)
  else:
    hours -= 12
    print(hours)

In [ ]:
def print_fruit(fruit_list):
  for fruit in fruit_list:
    print(fruit)

In [ ]:
fruits = ['banana', 'apple', 'pineapple']

print_fruit(fruits)

banana
apple
pineapple

In [ ]:
coonver_clock(hours=22)

10

# **Classes**
Python is an object oriented programming language.

A Class is blueprint or template for creating objects.

It defines a set of attributes and methods that the objects created from the class will have

The __init__ method is a special method that is called when an object of the class is created, and it initializes the object's attributes with the values passed as arguments.

**self** parameter is always the first parameter, and it is used to refer to the current object and  is automatically passed by python

In [ ]:
class Chair:
  def __init__(self, c, h, w,u):
    self.color=c
    self.height=h
    self.width=w
    self.unit=u
    self.c_type="Furniture"

In [ ]:
chair1 = Chair("Blue", 10, 5,'m')

In [ ]:
print(chair1.color)

Blue

In [ ]:
chair2 = Chair("red", 7, 3,"cm")

In [ ]:
chair2.height

7

In [ ]:
class Fruit:
  def __init__(self,a):
    self.name = 'apple'
    self.grade = 'A'

print(Fruit)

<class '__main__.Fruit'>

In [ ]:
a = Fruit("a")
print(a.name)
print(a.grade)

apple
A

In [ ]:
b = Fruit()
print(b.grade)

TypeError: ignored

In [ ]:
b.grade = "D"

In [ ]:
print(b.grade)

AttributeError: ignored

In [ ]:
class Monitor():

  def __init__(self):
    self.color=None
    self.height=10
    self.width=10
    self.brightness=33
    self.volume=25
    self.maintab=None

  def setscreen(self, tab_name):
    self.maintab = tab_name

  def increase_volume(self, n):
    self.volume += n

In [ ]:
m1 = Monitor()

In [ ]:
m1.setscreen("home")
m1.maintab

'home'

In [ ]:
m1.volume

25

In [ ]:
m1.increase_volume(10)
m1.volume

65

In [ ]:
class torch:

  def __init__(self, status):
    self.status = status

  def on_off(self,status):
    # self.status= not status
    return not status

torch1 = torch(False)

print(torch1.on_off(False))

print(torch1.status)

True
False

In [ ]:
class Fruit:
  def __init__(self, name, count):
    self.name = name
    self.count = count

  def fruitfun(self):
    print(self.name + " count is:" + str(self.count))

a = Fruit("apple", 5)
a.fruitfun()

apple count is:5

In [ ]:
b = Fruit("pineapple", 11)

In [ ]:
b.fruitfun()

pineapple count is:11

# **File Handling**

The key function for working with files in Python is the open() function.

The open() built-in function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist and if the file already exists, its contents will be deleted before writing to it

"x" - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode

"t" - Text - Default value. Text mode

"b" - Binary - Binary mode (e.g. images)

In [ ]:
f = open("sample11.txt", "w")
f.write("Hello, its a sample file, third time!")
f.close()

In [ ]:
f = open("sample_apend.txt", "a")
f.write("\n this is from append content! ")
f.close()

In [ ]:
reader = open("sample.txt", "r")
rr = reader.read()
print(rr)
reader.close()

Hello, its a sample file, third time!
 this is from append content!

In [ ]:
f = open("sample_new.txt", "x")
f.write("\n this is from third day! \n")
f.write("\n this is from third day! \n")
f.close()

# **Inbuilt Libraries**

*   os
*   math
*   random
*   datetime
*   pytz

os: Provides a way of using operating system dependent functionality like reading or writing to the file system, getting environment variables, etc.

sys: Provides access to some variables used or maintained by the interpreter and to functions that interact strongly with the interpreter.

math: Provides access to the mathematical functions defined by the C standard.

random: Provides functions for generating random numbers.

datetime: Provides classes for working with dates and times.

time: Provides functions for working with time, including time zones and time stamps.

In [ ]:
import os

In [ ]:
os.getcwd() #This function returns the current working directory.

'/content'

In [ ]:
os.chdir('/content/') #This function changes the current working directory to the path specified.

In [ ]:
os.listdir() #/path='./sample_data"

['README.md',
 'anscombe.json',
 'sample11.txt',
 'sample.txt',
 'mnist_test.csv',
 'california_housing_test.csv',
 'mnist_train_small.csv',
 'california_housing_train.csv']

In [ ]:
os.mkdir("new_dir")  #This function creates a new directory with the specified path.

In [ ]:
os.remove('/content/sample.txt')  #This function removes the file with the specified path.

In [ ]:
os.rmdir("/content/new_dir") #This function removes the directory with the specified path.

In [ ]:
os.rename("/content/sample_apend.txt", "/content/sample_rename.txt") # This function renames the file or directory from the source path to the destination path.

In [ ]:
import random

In [ ]:
random.random() #This function returns a random floating-point number between 0 and 1.

0.09868449516456967

In [ ]:
random.randint(-500, 500) #This function returns a random integer between a and b, inclusive.

128

In [ ]:
random.uniform(-5, 0)  #This function returns a random floating-point number between a and b, including both endpoints

-1.5883405073978523

In [ ]:
import math

In [ ]:
math.ceil(3.1) #This function returns the smallest integer greater than or equal to x.

4

In [ ]:
math.floor(3.6) #This function returns the largest integer less than or equal to x.

3

In [ ]:
math.sqrt(9.05) #This function returns the square root of x.

3.0083217912982647

In [ ]:
math.exp(2) #This function returns the exponential value of x.

7.38905609893065

In [ ]:
import datetime
print(datetime.date.today()) # returns a datetime object representing the todays date and time
print(datetime.datetime.now())

2023-03-13
2023-03-13 08:56:47.483906

In [ ]:
import pytz

# define the timezone
tz = pytz.timezone('Asia/Bangkok')

# get the current date and time in the defined timezone
now = datetime.datetime.now(tz)  
print(now)

date_str = now.strftime(f'Date:%Y-%m-%d Time: %H:%M:%S')  # format the date and time as a string #convert a datetime object into a string representation


print(date_str)

2023-03-13 15:59:59.619345+07:00
Date:2023-03-13 Time: 15:59:59

In [ ]:
import zoneinfo
zoneinfo.available_timezones()

{'Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Ciudad_Juarez',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Ensenada',
 'America/Fort_Nelson',
 'America/Fort_Wayne',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Indianapolis',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Jujuy',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Knox_IN',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Louisville',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Mendoza',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Nuuk',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Acre',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Shiprock',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Virgin',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/South_Pole',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Ashkhabad',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Rangoon',
 'Asia/Riyadh',
 'Asia/Saigon',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ujung_Pandang',
 'Asia/Ulaanbaatar',
 'Asia/Ulan_Bator',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faeroe',
 'Atlantic/Faroe',
 'Atlantic/Jan_Mayen',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/ACT',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Canberra',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Sydney',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belfast',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Kyiv',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Nicosia',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Tiraspol',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'Factory',
 'GB',
 'GB-Eire',
 'GMT',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Johnston',
 'Pacific/Kanton',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Ponape',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Samoa',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Truk',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'SystemV/AST4',
 'SystemV/AST4ADT',
 'SystemV/CST6',
 'SystemV/CST6CDT',
 'SystemV/EST5',
 'SystemV/EST5EDT',
 'SystemV/HST10',
 'SystemV/MST7',
 'SystemV/MST7MDT',
 'SystemV/PST8',
 'SystemV/PST8PDT',
 'SystemV/YST9',
 'SystemV/YST9YDT',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu',
 'localtime'}

**pip**

pip stands for "Package Installer for Python". It is powerful tool that makes easy to manage Python packages and dependencies in python project. 

* pip install <package>: installs a package from PyPI or a local archive.
* pip uninstall <package>: removes a package from your system.
* pip freeze: generates a list of installed packages and their versions.
* pip show <package>: displays information about a specific package, such as its version and dependencies.

In [ ]:
!pip  uninstall pandas

Found existing installation: pandas 1.3.5
Uninstalling pandas-1.3.5:
  Would remove:
    /usr/local/lib/python3.9/dist-packages/pandas-1.3.5.dist-info/*
    /usr/local/lib/python3.9/dist-packages/pandas/*
Proceed (Y/n)? Y
  Successfully uninstalled pandas-1.3.5

In [ ]:
!pip freeze

absl-py==1.4.0
aeppl==0.0.33
aesara==2.7.9
alabaster==0.7.13
albumentations==1.2.1
altair==4.2.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arviz==0.12.1
astropy==4.3.1
astunparse==1.6.3
atomicwrites==1.4.1
attrs==22.2.0
audioread==3.0.0
autograd==1.5
Babel==2.12.1
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.6.3
bleach==6.0.0
blis==0.7.9
bokeh==2.4.3
branca==0.6.0
bs4==0.0.1
CacheControl==0.12.11
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
cftime==1.6.2
chardet==4.0.0
click==8.1.3
cloudpickle==2.2.1
cmake==3.22.6
cmdstanpy==1.1.0
colorcet==3.0.1
colorlover==0.3.0
community==1.0.0b1
confection==0.0.4
cons==0.4.5
contextlib2==0.5.5
convertdate==2.4.0
cufflinks==0.17.3
cvxopt==1.3.0
cvxpy==1.2.3
cycler==0.11.0
cymem==2.0.7
Cython==0.29.33
dask==2022.2.1
datascience==0.17.6
db-dtypes==1.0.5
dbus-python==1.2.16
debugpy==1.6.6
decorator==4.4.2
defusedxml==0.7.1
distributed==2022.2.1
dlib==19.24.0
dm-tree==0.1.8
dnspython==2.3.0
docutils==0.16
dopamine-rl==1.0.5
earthengine-api==0.1.343
easydict==1.10
ecos==2.0.12
editdistance==0.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
entrypoints==0.4
ephem==4.1.4
et-xmlfile==1.1.0
etils==1.0.0
etuples==0.3.8
fastai==2.7.11
fastcore==1.5.28
fastdownload==0.0.7
fastjsonschema==2.16.3
fastprogress==1.0.3
fastrlock==0.8.1
filelock==3.9.0
firebase-admin==5.3.0
fix-yahoo-finance==0.0.22
Flask==2.2.3
flatbuffers==23.3.3
folium==0.12.1.post1
fonttools==4.39.0
fsspec==2023.3.0
future==0.16.0
gast==0.4.0
GDAL==3.3.2
gdown==4.4.0
gensim==3.6.0
geographiclib==1.52
geopy==1.17.0
gin-config==0.5.0
glob2==0.7
google==2.0.3
google-api-core==2.11.0
google-api-python-client==2.70.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==3.4.2
google-cloud-bigquery-storage==2.19.0
google-cloud-core==2.3.2
google-cloud-datastore==2.11.1
google-cloud-firestore==2.7.3
google-cloud-language==2.6.1
google-cloud-storage==2.7.0
google-cloud-translate==3.8.4
google-colab @ file:///colabtools/dist/google-colab-1.0.0.tar.gz
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
googledrivedownloader==0.4
graphviz==0.10.1
greenlet==2.0.2
grpcio==1.51.3
grpcio-status==1.48.2
gspread==3.4.2
gspread-dataframe==3.0.8
gym==0.25.2
gym-notices==0.0.8
h5py==3.1.0
HeapDict==1.0.1
hijri-converter==2.2.4
holidays==0.21
holoviews==1.14.9
html5lib==1.0.1
httpimport==0.5.18
httplib2==0.17.4
humanize==0.5.1
hyperopt==0.1.2
idna==2.10
imageio==2.9.0
imagesize==1.4.1
imbalanced-learn==0.8.1
imblearn==0.0
imgaug==0.4.0
importlib-metadata==6.0.0
importlib-resources==5.12.0
imutils==0.5.4
inflect==2.1.0
intel-openmp==2023.0.0
ipykernel==5.3.4
ipython==7.9.0
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.7.1
itsdangerous==2.1.2
jax==0.4.4
jaxlib @ https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.4.4+cuda11.cudnn82-cp39-cp39-manylinux2014_x86_64.whl
jieba==0.42.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.3.3
jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter_core==5.2.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kaggle==1.5.13
keras==2.11.0
keras-vis==0.4.1
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
langcodes==3.3.0
libclang==15.0.6.1
librosa==0.8.1
lightgbm==2.2.3
llvmlite==0.39.1
locket==1.0.0
logical-unification==0.4.5
LunarCalendar==0.0.9
lxml==4.9.2
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.5.3
matplotlib-venn==0.11.9
miniKanren==1.0.3
missingno==0.5.2
mistune==0.8.4
mizani==0.8.1
mkl==2019.0
mlxtend==0.14.0
more-itertools==9.1.0
moviepy==0.2.3.5
mpmath==1.2.1
msgpack==1.0.4
multipledispatch==0.6.0
multitasking==0.0.11
murmurhash==1.0.9
music21==5.5.0
natsort==5.5.0
nbclient==0.7.2
nbconvert==6.5.4
nbformat==5.7.3
netCDF4==1.6.3
networkx==3.0
nibabel==3.0.2
nltk==3.7
notebook==6.3.0
numba==0.56.4
numexpr==2.8.4
numpy==1.22.4
oauth2client==4.1.3
oauthlib==3.2.2
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.7.0.72
openpyxl==3.0.10
opt-einsum==3.3.0
osqp==0.6.2.post0
packaging==23.0
palettable==3.3.0
pandas-datareader==0.9.0
pandas-gbq==0.17.9
pandas-profiling==1.4.1
pandocfilters==1.5.0
panel==0.14.4
param==1.12.3
parso==0.8.3
partd==1.3.0
pathlib==1.0.1
pathy==0.10.1
patsy==0.5.3
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pip-tools==6.6.2
platformdirs==3.1.0
plotly==5.5.0
plotnine==0.10.1
pluggy==0.7.1
pooch==1.7.0
portpicker==1.3.9
prefetch-generator==1.0.3
preshed==3.0.8
prettytable==3.6.0
progressbar2==3.38.0
prometheus-client==0.16.0
promise==2.3
prompt-toolkit==2.0.10
prophet==1.1.2
proto-plus==1.22.2
protobuf==3.19.6
psutil==5.4.8
psycopg2==2.9.5
ptyprocess==0.7.0
py==1.11.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycparser==2.21
pyct==0.5.0
pydantic==1.10.5
pydata-google-auth==1.7.0
pydot==1.3.0
pydot-ng==2.0.0
pydotplus==2.0.2
PyDrive==1.3.1
pyerfa==2.0.0.1
Pygments==2.6.1
PyGObject==3.36.0
pymc==4.1.4
PyMeeus==0.5.12
pymongo==4.3.3
pymystem3==0.2.0
PyOpenGL==3.1.6
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.7.1
pytest==3.6.4
python-apt==0.0.0
python-dateutil==2.8.2
python-louvain==0.16
python-slugify==8.0.1
python-utils==3.5.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.2.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==23.2.1
qdldl==0.1.5.post3
qudida==0.0.4
regex==2022.6.2
requests==2.25.1
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
resampy==0.4.2
rpy2==3.5.5
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.10.1
screen-resolution-extra==0.0.0
scs==3.2.2
seaborn==0.11.2
Send2Trash==1.8.0
shapely==2.0.1
six==1.15.0
sklearn-pandas==2.2.0
smart-open==6.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
Sphinx==3.5.4
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.46
sqlparse==0.4.3
srsly==2.4.6
statsmodels==0.13.5
sympy==1.7.1
tables==3.7.0
tabulate==0.8.10
tblib==1.7.0
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-datasets==4.8.3
tensorflow-estimator==2.11.0
tensorflow-gcs-config==2.11.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.12.0
tensorflow-probability==0.19.0
termcolor==2.2.0
terminado==0.17.1
text-unidecode==1.3
textblob==0.15.3
thinc==8.1.8
threadpoolctl==3.1.0
tifffile==2023.2.28
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch @ https://download.pytorch.org/whl/cu116/torch-1.13.1%2Bcu116-cp39-cp39-linux_x86_64.whl
torchaudio @ https://download.pytorch.org/whl/cu116/torchaudio-0.13.1%2Bcu116-cp39-cp39-linux_x86_64.whl
torchsummary==1.5.1
torchtext==0.14.1
torchvision @ https://download.pytorch.org/whl/cu116/torchvision-0.14.1%2Bcu116-cp39-cp39-linux_x86_64.whl
tornado==6.2
tqdm==4.65.0
traitlets==5.7.1
tweepy==3.10.0
typer==0.7.0
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.26.14
vega-datasets==0.9.0
wasabi==0.10.1
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.2.3
widgetsnbextension==3.6.2
wordcloud==1.8.2.2
wrapt==1.15.0
xarray==2022.12.0
xarray-einstats==0.5.1
xgboost==1.7.4
xkit==0.0.0
xlrd==1.2.0
xlwt==1.3.0
yellowbrick==1.5
zict==2.2.0
zipp==3.15.0

In [ ]:
!pip show promise

Name: promise
Version: 2.3
Summary: Promises/A+ implementation for Python
Home-page: https://github.com/syrusakbary/promise
Author: Syrus Akbary
Author-email: me@syrusakbary.com
License: MIT
Location: /usr/local/lib/python3.9/dist-packages
Requires: six
Required-by: tensorflow-datasets

In [ ]:
help()

**Exercise**

Prepare a chart for fruits and their prices 

apple 30
banana 20
Guaua 40

write a function to takes fruit names and quantity as input and print the bill as follows as output.

Input: Bill('apple', 2, 'banana', 1) /br
Output:

fruit quanity price /br
apple 2       60 /br
banana 1      20 /br

Total         80

In [ ]:
#summary

x = 2
y = 2.2

a = True
b = False

s = "Sriram"


list = [1,2,3,4]
set = {19,2,3,4}
tuple = (1,2,3,4)


dict = ["1":1,"2":2]

x*y

if x<y:
  print(x)
elif y<x:
  print(x)
else:
  print(y)


while x<10:
  print(x)
  x += 1

for i in list:
  print(i)


def fun():
  print("hey!!!!!")


class Greet:
  def __init__(self, name)
    self.name = name
  def wish(self):
    print("hello!!!", self.name)


s = Greet("sriram")
s.wish()